// Define variables for your color scheme

$ultra-light-green: #d8efd3;
$light-green: #95d2b3;
$green: #55ad9b;
$dark-green: #10705d;
$white: #f5f5f5;
$light-black: #4a4a4a;
$gray: #afacac;

// For example:
$red: #fd1015;
// $blue: #0d6efd;
// $yellow: #ffc65a;
$orange: #e67e22;
// $green: #1edd88;
// $gray: #0e0000;
// $light-gray: #f4f4f4;

$green-calendar: #1edd88;
$yellow-calendar: #b7da1d;
