<%= simple_form_for @family, html: { multipart: true }  do |f| %>
<%= f.input :name, label: "Name", placeholder: "Enter the name of the family" %>
 <div class="form-actions">
    <%= f.button :submit, "Create Family", class: "btn btn-primary btn-flat" %>
  </div>
<% end %>
