<h1>Document Files</h1>
<ul>
  <% @document.files.each do |file| %>
    <li>
      <%= link_to file.filename.to_s, url_for(file), target: "_blank" %>
      <%= link_to "Delete", delete_file_document_path(@document, file_id: file.signed_id),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<%= link_to "Back to Documents", documents_path %>
