.btn-flat {
  color: $white;
  padding: 10px 20px;
  min-width:125px;
  border-radius: 40px;
  background: $green;
  background: $primary;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat:hover {
  background: $dark-green;
  color: white;
}

.btn-flat-second-user {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $calendar-second-user;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat-second-user:hover {
  background: $dark-green;
  color: white;
}
