.simple-calendar {
  table {
    min-height: 80vh;
  }
  .today {
    background-color: $primary;
  }
  .highlight-day {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: $calendar-current-user;
  }

  .user-one-highlight-day {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: $calendar-current-user;
  }
  .user-two-highlight-day {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: $calendar-second-user;
  }
}

.event {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #70a0af;
  transition: background 0.3s ease;
}

.event:hover {
  background: #6699a8;
  color: white;
}
