// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";


// Your CSS partials
@import "components/index";
@import "pages/index";

// dropzone (drag & drop)
@import "variables";
@import "dropzone";
@import "config/variables";


body {
  background-color: white;
}

.container{
  margin: 0px 30px;
}

.word-highlight {
  color: $green;
}

.col-3 {
  border-right: 1px solid #ccc;
}

.main-title {
  font-size: 70px;
}
