<div class="d-flex justify-content-between align-items-center">
  <div class="expense-date">
    <p class="mb-1"><strong>Date:</strong> <%= @expenses.date %></p>
  </div>
  <div class="expense-description">
    <p class="mb-1"><strong>Description:</strong> <%= @expenses.description %></p>
    <p class="mb-1"><strong>Payer:</strong> <%= @expenses.user.first_name %>
    </div>
</div>
